<div class="input-group">
  <span class="input-group-btn">
    <button type="button" (click)="cambiarValor(-5)" [ngClass]="btnClass">
      -
    </button>
  </span>
  <input
    type="number"
    max="100"
    min="0"
    class="form-control"
    placeholder="Product name"
    [ngClass]="{ 'is-invalid': progreso > 100 || progreso < 0 }"
    (ngModelChange)="onChange($event)"
    [(ngModel)]="progreso"
  />
  <span class="input-group-btn">
    <button type="button" (click)="cambiarValor(5)" [ngClass]="btnClass">
      +
    </button>
  </span>
</div>
